aside.sidebar
  .logo
    a(href="/index.html")
      img(src="assets/images/logo.png", srcset="assets/images/logo@2x.jpg 2x, assets/images/logo@3x.jpg 3x", alt="Adidas Logo")
  form.search.mb-150
    input(type="search")

  nav
    ul.menu
      li
        a.menu-dropdown.active(href="#") Sports
        ul.menu-submenu
          li
            a.active(href="#") Shoes
          li
            a(href="#") Clothing
          li
            a(href="#") Accesories
      li
        a(href="#") Brands
      li
        a(href="#") Micoach