extends ./components/layout/default.jade

block content
  include ./components/blocks/aside.jade

  section.wrapper
    .product-title
      h1 
        | Ultra
        br
        | boost
      button.product-save-btn save

    .product-info
      .product-info-color
        button.grey
        button.blue
        button.black
        button.palegrey

      .product-info-sale-badge sale

      h2.product-info-price 170$

    .product-gallery