extends ./components/layout/default.jade

block content
  include ./components/blocks/aside.jade

  section.wrapper
    .product-page
      header.product-info
        .product-title
          h1 
            | Ultra
            br
            | boost
          button.product-save-btn save

        .product-sets
          .product-sets-color
            button.grey
            button.active.blue
            button.black
            button.palegrey
            
            span.product-sets-sale-badge sale

          h2.product-sets-price $170

      .product-gallery
        .product-gallery-main
          img(src="assets/images/shoes/shoes-3@3x.jpg" alt="")
        .product-gallery-thumbnails
          button.product-gallery-thumbnails-item.active
            img(src="assets/images/shoes/shoes-3-thumb1.jpg", srcset="assets/images/shoes/shoes-3-thumb1@2x.jpg 2x", alt="")
          button.product-gallery-thumbnails-item
            img(src="assets/images/shoes/shoes-3-thumb2.jpg", srcset="assets/images/shoes/shoes-3-thumb2@2x.jpg 2x", alt="")
          button.product-gallery-thumbnails-item
            img(src="assets/images/shoes/shoes-3-thumb3.jpg", srcset="assets/images/shoes/shoes-3-thumb3@2x.jpg 2x", alt="")
          button.product-gallery-thumbnails-item
            img(src="assets/images/shoes/shoes-3-thumb4.jpg", srcset="assets/images/shoes/shoes-3-thumb4@2x.jpg 2x", alt="")
          .product-gallery-decor
            .product-gallery-decor-lines
          button.product-gallery-thumbnails-more
            | see
            br 
            | more
            br
            | photos

      .product-description
        p 
          span Adidas&nbsp;
          | is a German multinational corporation, headquartered in Herzogenaurach, Germany, that designs and manufactures shoes, clothing and accessories.

    .buy-btn 
      button Buy Now
