.ta-l {text-align: left;}
.ta-r {text-align: right;}
.ta-c {text-align: center;}
.fl-l {float: left;}
.fl-r {float: right;}

.no-desktop {display: none;}

// margin-right
.mr-70 {margin-right: 70px;}

// margin-bottom
.mb-15 {margin-bottom: 15px;}
.mb-150 {margin-bottom: 150px;}

// margin-left
.ml-20 {margin-left: 20px;}