@font-face {
  font-family: 'Nexa_bold';
  src: url('/assets/fonts/nexa/nexa_bold-webfont.woff2') format('woff2'), url('/assets/fonts/nexa/nexa_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext_bold';
  src: url('/assets/fonts/AvenirNext/avenir-next-bold.woff2') format('woff2'), url('/assets/fonts/AvenirNext/avenir-next-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('/assets/fonts/AvenirNext/avenir-next-regular.woff2') format('woff2'), url('/assets/fonts/AvenirNext/avenir-next-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AndaleMono';
  src: url('/assets/fonts/Andale-Mono/andalemono-webfont.woff2') format('woff2'), url('/assets/fonts/Andale-Mono/andalemono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}